{% include 'header.html' %}

<div id="wrapper">
    <h1>{{ settings.siteinfo.title }} - {{ settings.siteinfo.subtitle }}</h1>

    <hr>

    <h2>Recent Posts</h2>
    {% for post in content %}
        {{ post | raw }}
    {% endfor %}
</div>

</body>
</html>